$--main: #0e2b65;
$--second: #6b1324;

.about_content_container {
  background: #e5e5e5;
  padding: 2rem 4rem 4rem 4rem;
}

.about_detail {
  min-height: 400px;
}

.about_img {
  float: left;
  margin: 3rem 30px 20px 0;

  .about_image {
    width: 100%;
    height: 20rem;
  }
}

.about_title {
  // padding-top: 2rem;

  h1 {
    font-size: 2.2rem;
    line-height: 2.25rem;
    color: #1e3769;
  }

  span {
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(137 0 26);
  }

  .about_describtion {
    padding-bottom: 3rem;

    p {
      color: #111827;
      font-size: 1em;
      font-weight: 600;
      line-height: 1.6;
      margin-bottom: 0.6em;
      // margin-top: 1.6em;
      text-align: justify;
    }
  }
}

.people_box_card {
  padding: 15px 0.5%;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.people_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 15px;
  padding-top: 2rem;
  a {
    text-decoration: none;
  }
  .people_card {
    width: 100% !important;
    border-radius: 8px;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    overflow: hidden;
    background-color: #fff;

    @media (min-width: 768px) {
      width: 300px;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 50% 20%;
    }

    .people_content {
      padding: 10px 20px;
      text-align: left;
      letter-spacing: 0.2px;

      h4 {
        color: $--main;
        margin-top: 0;
        font-weight: 600;
        font-size: 1.2rem;
        height: 50px;
        margin-bottom: 10px;
      }

      p {
        color: $--second;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 706px) {
  .people_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 4fr));
    justify-content: center;
    gap: 15px;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 977px) {
  .about_img {
    margin-top: 2rem;
    float: none;

    .about_image {
      width: 100%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 800px) {
  .about_content_container {
    padding: 4rem 2rem 4rem 2rem !important;
  }
}
@media screen and (max-width: 686px) {
  .people_card {
    height: 430px !important;
  }
  .people_name {
    font-size: 18px !important;
  }
  .people_position {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 580px) {
  .about_content_container {
    padding: 4rem 1rem 4rem 1rem !important;
  }
}

@media screen and (max-width: 550px) {
  .people_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 4fr));
    justify-content: center;
    gap: 15px;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
    .people_card {
      width: auto !important;
    }
  }
}
