// .swiper_archi_container {
//   width: 100%;
//   background: #fff;
//   padding: 6rem 4rem;
//   .title_container {
//     .title {
//       font-weight: 600;
//       font-size: 3rem;
//       color: #000;
//       padding: 4rem 0 2rem 0;
//       border-top: 1px solid #000;
//     }
//   }
//   .swiper {
//     padding: 2rem 0;
//     .exhibition-card {
//       display: flex;
//       overflow: hidden;
//       background: #1d1d1d;
//       color: #fff;
//       cursor: pointer;
//       height: 400px; // Or any desired height

//       .exhibition-image {
//         flex: 1;
//         overflow: hidden;

//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//         }
//       }

//       .exhibition-info {
//         flex: 1;
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         .exhibition-title {
//           font-size: 35px;
//           margin-bottom: 10px;
//           padding: 20px 0;
//         }

//         .exhibition-description {
//           margin-bottom: 20px;
//         }

//         .exhibition-link {
//           text-decoration: none;
//           display: flex;
//           gap: 1rem;
//           justify-content: space-between;
//           align-items: center;
//           width: 100%;
//           text-align: left;
//           padding: 0.75rem 1.5rem;
//           font-size: 1rem;
//           color: white;

//           .more_button {
//             width: 100px;
//             height: 90px;
//             padding: 5px;
//             background: #007bff;
//             color: #fff;
//             border: none;
//             border-radius: 50%;
//             font-weight: 600;
//             cursor: pointer;
//           }

//           .more_button:hover {
//             background-color: #0056b3;
//           }

//           .exhibition-date {
//             font-style: italic;
//             // margin-bottom: 10px;
//           }
//         }
//       }
//     }
//     .exhibition-card:hover {
//       background: #ffe800;
//       color: #000;
//       transition: 0.2s ease;
//       transform: scale(1.05); // Increasing scale on hover
//       height: 410px; // Increasing height on hover

//       .exhibition-image {
//         img {
//           padding: 20px 0 20px 20px;
//         }
//       }

//       .exhibition-title {
//         text-decoration: underline;
//       }
//       .exhibition-date {
//         color: #000;
//       }
//       .more_button {
//         background: #000 !important;
//         color: #ffe800;
//       }
//     }
//   }
// }

.ashyo_home_container {
  margin-top: 12rem;
  width: 100%;
  background: #e5e5e5;
  padding: 0 4rem 4rem 4rem;
  .title_container {
    display: flex;
    align-items: center;
    gap: 20px;
    .title {
      font-weight: 600;
      font-size: 3rem;
      color: #000;
      padding: 3rem 0 2rem 0;
    }
    p {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 32px;
      font-weight: 600;
      color: #ff4646;
    }
  }

  .swiper {
    .ashyo_home_card {
      height: 420px;
      background: #fff;
      padding: 30px;
      margin-bottom: 20px;
      cursor: pointer;
      .ashyo_home_img {
        width: 100%;
        height: 75%;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .ashyo_home_title {
        padding: 20px 0;
        .ashyo_home_name {
          position: relative;
          font-weight: 600;
          font-size: 25px;
          width: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1.2; /* Qo'shildi: matn qatorlari orasidagi masofa */
        }
        .ashyo_home_name span {
          /* Qo'shildi: har bir qatorda chiziq hosil qilish uchun */
          display: block;
          position: relative;
        }
        .ashyo_home_name span::after {
          /* Qo'shildi: har bir qatorda chiziq hosil qilish uchun */
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #000;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
      }
    }
    .ashyo_home_card:hover {
      .ashyo_home_img {
        img {
          transform: scale(1.1);
          transition: 0.4s;
        }
      }
    }
    .ashyo_home_card:hover .ashyo_home_name span::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
