// .library_home_container {
//   margin-top: 12rem;
//   width: 100%;
//   background: #e5e5e5;
//   padding: 0 4rem 4rem 4rem;
//   .title_container {
//     .title {
//       font-weight: 600;
//       font-size: 3rem;
//       color: #000;
//       padding: 3rem 0 2rem 0;
//     }
//   }

//   .swiper {
//     .library_home_card {
//       height: 420px;
//       background: #fff;
//       padding: 30px;
//       cursor: pointer;
//       .library_home_img {
//         img {
//         }
//       }
//       .library_home_title {
//         padding: 20px 0;
//         .library_home_name {
//           position: relative;
//           font-weight: 600;
//           font-size: 25px;
//           width: 100%;
//           display: -webkit-box;
//           -webkit-line-clamp: 2;
//           -webkit-box-orient: vertical;
//           text-overflow: ellipsis;
//           overflow: hidden;
//         }
//         .library_home_name::after {
//           content: "";
//           position: absolute;
//           width: 100%;
//           transform: scaleX(0);
//           height: 3px;
//           bottom: 0;
//           left: 0;
//           background-color: #000;
//           transform-origin: bottom right;
//           transition: transform 0.25s ease-out;
//         }
//       }
//     }
//     .library_home_card:hover {
//       .library_home_name::after {
//         transform: scaleX(1);
//         transform-origin: bottom left;
//       }
//     }
//   }

//   // .swiper-slide {
//   //   text-align: center;
//   //   font-size: 18px;
//   //   background: #fff;

//   //   /* Center slide text vertically */
//   //   display: flex;
//   //   justify-content: center;
//   //   align-items: center;
//   // }

//   // .swiper-slide img {
//   //   display: block;
//   //   width: 100%;
//   //   height: 100%;
//   //   object-fit: cover;
//   // }
// }

.library_home_container {
  margin-top: 12rem;
  width: 100%;
  background: #e5e5e5;
  padding: 0 4rem 4rem 4rem;
  .title_container {
    display: flex;
    align-items: center;
    gap: 20px;
    .title {
      font-weight: 600;
      font-size: 3rem;
      color: #000;
      padding: 3rem 0 2rem 0;
    }
    p {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 32px;
      font-weight: 600;
      color: #ff4646;
    }
  }

  .swiper {
    .library_home_card {
      height: 420px;
      background: #fff;
      padding: 30px;
      margin-bottom: 20px;
      cursor: pointer;
      .library_home_img {
        width: 100%;
        height: 75%;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .library_home_title {
        padding: 20px 0;
        .library_home_name {
          position: relative;
          font-weight: 600;
          font-size: 25px;
          width: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1.2; /* Qo'shildi: matn qatorlari orasidagi masofa */
        }
        .library_home_name span {
          /* Qo'shildi: har bir qatorda chiziq hosil qilish uchun */
          display: block;
          position: relative;
        }
        .library_home_name span::after {
          /* Qo'shildi: har bir qatorda chiziq hosil qilish uchun */
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #000;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
      }
    }
    .library_home_card:hover {
      .library_home_img {
        img {
          transform: scale(1.1);
          transition: 0.4s;
        }
      }
    }
    .library_home_card:hover .library_home_name span::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
