.museum_content_container {
  padding: 2rem 4rem 4rem 4rem;
  .museum_content {
    // display: grid;
    // grid-template-columns: repeat(1fr, 3);
    .museum_page_card {
      width: 100%;
      height: 400px;
      cursor: pointer;
      background: #e5e5e5;
      border-radius: 5px;
      .museum_info {
        padding: 10px 15px;
        .museum_info_des {
          color: rgb(243, 105, 105);
          font-weight: 600;
        }
      }
      .overflow-hidden {
        width: 100%;
        height: 78%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .museum_content_container {
    padding: 2rem 2rem 4rem 2rem !important;
  }
}
@media screen and (max-width: 580px) {
  .museum_content_container {
    padding: 2rem 1rem 4rem 1rem !important;
  }
}
