.swiper_olim_container {
  width: 100%;
  // height: 400px;
  padding: 4rem 4rem 2rem 4rem;
  background: #fff;
  margin-top: 12rem;
  .title_container {
    .title {
      font-weight: 600;
      font-size: 3rem;
      color: #000;
      padding: 2rem 0 2rem 0;
      border-top: 1px solid #fff;
    }
  }
  .olim_card {
    padding: 2rem 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    .olim_img {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
      }
    }
    .olim_title {
      .olim_name {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    .olim_des {
      font-weight: 500;
      font-style: italic;
    }
    .bottom_dot {
      span {
        font-size: 2rem;
        color: rgb(243, 163, 163);
      }
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

// .swiper-slide {
//   text-align: center;
//   // font-size: 18px;
//   // background: #fff;

//   /* Center slide text vertically */
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
