// .home {
//   &__video-container {
//     position: relative;
//     width: 100%;
//     overflow: hidden;

//     .home__video {
//       width: 100%;
//       height: auto;
//       object-fit: cover;
//       display: block;
//     }

//     .home__video-button {
//       position: absolute;
//       bottom: 40px;
//       right: 0%;
//       transform: translateX(-50%);
//       padding: 0.5rem 1rem;
//       background-color: rgba(0, 0, 0, 0.5);
//       color: #fff;
//       border: none;
//       border-radius: 4px;
//       cursor: pointer;
//       font-size: 1rem;
//       z-index: 1;

//       &:hover {
//         background-color: rgba(0, 0, 0, 0.7);
//       }
//     }
//   }
// }
.video-card {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    // background: rgba(0, 0, 0, 0.755); /* Qoraytirish uchun fon */
  }

  .video-card__content {
    text-align: left;
    color: white;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.543);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;

    .video_card_title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    .video-card__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 900;
      width: 100%;
      text-align: left;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: white;
      background-color: #ff5722;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e64a19;
      }
    }
  }

  &__play-pause-button {
    width: 50px;
    height: 50px;
    font-weight: 600;
    position: absolute;
    bottom: 40px;
    right: 0%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@media (max-width: 768px) {
  .video-card__content {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .video-card__content {
    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }

    &__button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
}
